<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
            <h1>LOGIN</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="main">
                <input type="text" name="username">
                <span></span>
                <label>username</label>
                </div>
                <div class="main">
                    <input type="password" name="password">
                    <span></span>
                    <label>Passsword</label>
                </div>
                    <input type="submit" value="Log In">
            </form>
    </div>
</body>
</html>