<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/student.css">
</head>
<body>
    <div class="container-fluid-xl">
        <div class="row">
            <div class="col-lg-12">

                <nav class="navbar navbar-expand-lg" style="background-color: rgba(184, 240, 251, 0.915);">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
                            <div class=" ms-auto">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: rgb(255, 252, 252);" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: rgb(255, 254, 254);" href="#">Teachers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: rgb(255, 255, 255);" href="{% url 'studentprofile' %}">PROFILE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: rgb(255, 255, 255);" href="{% url 'sleave' %}">LEAVE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: rgb(255, 255, 255);" href="{% url 'Notificationapproveview' %}">Notification</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: rgb(255, 255, 255);" href="{% url 'publishview' %}">Result</a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-lg-12">
                <h2 class="text-center"> COURSES AVAILABLE IN THE COLLAGES ARE MENTIONED BELOW</h2>

            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row" id="cse1" >
                        <div class="col-lg-4 md-4 sm-12">
                            
                        </div>
                        <div class="col-lg-4 md-4 sm-12">
                            <div class="card fluid " id="xd">
                                <img src="../static/images/physictext.jpg" class="fluid" id="kg" alt="">
                                <div class="intro">
                                    <h3 class="text-center">Physics</h3>
                                    <P class="text-center">physics is a little difficult subject but intresting
                                    </P>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 md-4 sm-12">
                           
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" id="cse1">
                        <div class="col-lg-4 md-4 sm-12">
                        </div>
                        <div class="col-lg-4 md-4 sm-12">
                            <div class="card fluid" id="xd">
                                <img src="../static/images/chemistrytext.jpg" class="fluid" id="kg" alt="">
                                <div class="intro">
                                    <h3 class="text-center">Chemistry</h3>
                                    <P class="text-center">physics is a little difficult subject but intresting
                                    </P>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 md-4 sm-12"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" id="cse11">
                        <div class="col-lg-4">
                            
                        </div>
                        <div class="col-lg-4">
                            <div class="card fluid " id="xd">
                                <img src="../static/images/mathtext.jpg" class="fluid" id="kg" alt="">
                                <div class="intro">
                                    <h3 class="text-center">Mathematics</h3>
                                    <P class="text-center">physics is a little difficult subject but intresting
                                    </P>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container-fluid-xl">
            <div class="row mt-5">
                <div class="col-lg-12 pt-2 pb-3 ps-5">
                    <h1 class="text-center text-dark">Proffesors In the University Are</h1>
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid-xl" id="pros">
            <div class="row mt-3">
                <div class="col-lg-4 md-4 sm-12">
                    <div class="card" id="td">
                        <img src="../static/images/tch1.avif" id="rg" alt="">
                        <div class="intro">
                            <h3 class="text-center">Subramanian</h3>
                            <P class="text-center">He is one of the best proofesors in the University.He use best Teaching Methods
                            </P>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-4 sm-12">
                    <div class="card" id="td">
                        <img src="../static/images/tcch.jpg" id="rg" alt="">
                        <div class="intro">
                            <h3 class="text-center">Daniya</h3>
                            <P class="text-center">SHe is one of the best proofesors in the University.SHe use best Teaching Methods
                                Methods</P>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-4 sm-12">
                    <div class="card" id="td">
                        <img src="../static/images/tch2.jpg" id="rg" alt="">
                        <div class="intro">
                            <h3 class="text-center">James</h3>
                            <P class="text-center">He is one of the best proofesors in the University.He use best Teaching Methods
                            </P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid-xl">
            <div class="row mt-5">
                <div class="col-lg-12 pt-2 pb-3 ps-5">
                    <h1 class="text-center text-dark">Head Of Departments In University Are</h1>
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid-xl" id="hod">
            <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="card" id="rd">
                        <img src="../static/images/hod1.webp" id="mg" alt="">
                        <div class="intro">
                            <h3 class="text-center">Subramanian</h3>
                            <P class="ms-4">He is one of the best proofesors in the University.He use best Teaching Methods
                            </P>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" id="rd">
                        <img src="../static/images/prof.jpg" id="mg" alt="">
                        <div class="intro">
                            <h3 class="text-center">Daniya</h3>
                            <P class="ms-4">She is one of the best proofesors in the University.She use best Teaching
                                Methods</P>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" id="rd">
                        <img src="../static/images/proff.jpg" id="mg" alt="">
                        <div class="intro">
                            <h3 class="text-center">James</h3>
                            <P class="ms-4">He is one of the best proofesors in the University.He use best Teaching Methods
                            </P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="container-fluid-xl">
                <div class="row">
                    <div class="col-lg-12">
                        <footer class="bg-secondary text-center text-dark-start text-dark">
        
                            <div class="container p-4">
        
                                <div class="row mt-4">
        
                                </div>
        
                            </div>
        
                            <div class="text-center p-3" style="background-color: rgba(184, 240, 251, 0.915)">
                                © shas campus
        
                            </div>
        
                        </footer>
                    </div>
</body>
</html>