<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/viewhod.css">
</head>

<body class="" style="background-color: rgb(27, 27, 29);">

    <div class="container-fluid-xl">
        <div class="row mt-3 overflow m-4 mt-2 shadow-lg">
            <div class="col-lg-12 pt-2 pb-3">
                <h1 class="text-center" style="color: rgb(83, 86, 89);">HEAD OF DEPARTMENTS</h1>
            </div>
        </div>
    </div>


    <div class="container-fluid-xl">
        <div class="row overflow m-4 mt-2 shadow-lg ">
            {% for i in data %}
            <div class="col-lg-4"></div>
            <div class="col-lg-4 col-md-6 ms-5 mt-2 mb-5">
                <div class="card card-view" style="width: 20rem; background-color: rgba(15, 15, 15, 0.325);" id="ggg">
                    <div class="card-header">
                        <label>{{forloop.counter}}</label>
                        <h4 class="text-center text-white"> HEAD OF {{i.Department}}</h4>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.Firstname}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.Lastname}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.username}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.Address}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.place}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.phone}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.email}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.qualification}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.experience}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.password}}</li>
                            <li class="list-group border-bottom mt-1 mb-1"
                                style="font-family: Arial, Helvetica, sans-serif; color: rgba(244, 234, 222, 0.459);">
                                {{i.confirmpassword}}</li>
                            <li><a href="{% url 'delete_hod' i.id%}" class="btn btn-success mt-1 mb-1"
                                    style="background-color: brown;">
                                    Delete</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-4"></div>

            </div>
            {% endfor %}
        </div>
    </div>


</body>

</html>