body,html{overflow-x: hidden;}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../images/bag.webp);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:rgb(198, 105, 5);
}
#tn{
    margin-left: 180px;
    margin-top: 30px;
}