body,html{overflow-x: hidden;}
*{
margin: 0px;
padding: 0px;
}
body{
    background-image: url(../images/bab.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
    color:gray;
    margin-top: 20px;
    margin-bottom: 30px;
}
.label{
   font-size: 19px;
   margin-top: 19px;
   margin-left: 100px;
   font-weight: normal;
   color: brown;
}
.form-control{
    background: rgba(255, 255, 255, 0.2);
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid brown;
    font-size: 20px;
    margin-top: 15px;

    
}